.main-side {
    background-color: #77CAC3;
    width: 20vw;
    height: 100vh;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 3rem;
}